body {
  background: url('https://static.wixstatic.com/media/45e5b6_fc38bdacfd6c4649be2524d41f510b5b~mv2.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#sticky-footer {
  flex-shrink: none;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.active-pink-3 input[type=text] {
    border: 1px solid #f48fb1;
    box-shadow: 0 0 0 1px #f48fb1;
}