/* credited: https://codepen.io/Gthibaud/pen/MqpmXE by Thibaud Goiffon */

@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -120px 60px;
  }
}

.modal {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid #d4af37;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
}

.modal img {
	width: 50%;
	height: auto;
	position: relative;
	padding-right: 25px;
}

.message {
  font-size:1.1rem;
  margin-bottom: 1.6rem;
  margin-top: 0;
  width:100%;
}


.btn {
  color:inherit;
    font-family:inherit;
  font-size: inherit;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

.flex {
  margin-top: 25px;
}

.btn:last-child {
  margin: 0;
}

.btn:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .options {
    display: block;
  }
}